html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:25px;
    user-select:none;
    
  }
  *{box-sizing:border-box;}
    body{margin:0;
     background: #202020;
      color: white;
      height:100vh;
    }
    
    #timerContainer{
    padding:10px;
    margin:100px auto;
    text-align:center;
    height:200px;
    }
    .timer{
    padding:20px;
    display:block;
    font-size:5rem;
    transition:all .1s;
    }
    .controls{display:flex;
    align-items:center;
    justify-content:space-evenly;
    }
    .reset{font-size:1rem;
    cursor:pointer;
    float:left;
    padding:20px;
    transition:all .1s;
    border-radius:40%;
    }
    .reset:hover{color:black;
    background:#f1f1f1;
    }
    ul{margin:0;
    padding:0;
    }
    li{margin-top:5px;
    }
    .laps{background:geen;
    width:200px;
    margin:0px auto;
    }