* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section {
  position: relative;
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
  background: #ffdd00;
}
.container {
  position: absolute;
  height: 52vh;
  border: 2px solid rgb(251, 251, 251);
  border: none;
  width: 26vw;
  border-radius: 50%;
  box-shadow: inset 7px 2px 47px #665800, -27px -27px 30px #ffff00;
}
.clock {
  position: absolute;
  height: 35vh;
  width: 16.5vw;
  border-radius: 50%;
  border: none;
  background: url(clock12.png) no-repeat;
  background-size: 15.3rem;
  background-position-y: -1rem;
  box-shadow: inset 7px 2px 47px #665800, -27px -27px 30px #ffff00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr {
  width: 7vw;
  height: 11vh;
}
.min {
  width: 10vw;
  height: 16vh;
}
.sec {
  width: 13vw;
  height: 24vh;
}

.hr,
.min,
.sec {
  /* border: 2px solid black; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr::before {
  position: absolute;
  content: "";
  width: 0.25rem;
  height: 2.2rem;
  top: -0.1rem;
  background-color: rgb(56, 53, 53);
  z-index: 10;
}
.min::before {
  position: absolute;
  content: "";
  width: 0.2rem;
  height: 3rem;
  top: 0.2rem;
  background-color: rgb(199, 37, 37);
  z-index: 11;
}
.sec::before {
  position: absolute;
  content: "";
  width: 0.1rem;
  height: 4rem;
  top: 0.4rem;
  background-color: rgb(206, 198, 198);
  z-index: 12;
}

@media only screen and (max-width: 450px) {
  .container {
    height: 42vh;
    width: 71vw;
  }
  .clock {
    height: 28vh;
    width: 53.5vw;
    background-size: 15rem;
  }
  .sec {
    height: 20vh;
    width: 40vw;
  }
  .min {
    width: 10vw;
    height: 15vh;
  }
}
